---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// ignoring the above

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@import "variables";
@import "grid";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.floor {
  margin: 0;
  min-height: $floorHeight;
  float: left;
  width: 100%;
  background-size: auto $floorHeight;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint(baby-bear) {
    height: auto;
    background-size: cover;
  }

  &.secondFloor {
    background-image: url('../img/2fl_flat.png')
  }

  &.firstFloor {
    background-image: url('../img/1fl_flat.png')
  }

  &.lowerLevel {
    background-image: url('../img/0fl_flat.png')
  }
}

.onlyText {
  padding-top: 35vh;
  min-height: 30rem;
  min-height: 80vh;

  @include breakpoint(baby-bear) {
    padding-top: 10rem;
  }
}

.infoWrap {
  transform: translateY(-50%);
  float: left;
  clear: both;
  width: 80%;
  padding: 0;
  margin: 50vh auto 5rem;

  @include breakpoint(baby-bear) {
    width: 100%;
    transform: none;
    margin-top: 3rem;
  }

}

.beer {
  width: 23rem;
  margin: 0 2.5%;
  float: left;
  overflow: hidden;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 3px 4px 7px rgba(0,0,0,.3);

  @include breakpoint(baby-bear) {
    width: 85%;
    float: none;
    display: block;
    margin: 0 auto 2rem;
  }
}

.beerSpecs {
  padding: 1rem 2rem;
  background: rgba(255,255,255,.8);
  min-height: 18rem;
}

.thumb {
  margin: 1rem auto;
  width: 6rem;
  display: block;
}

.status {
  width: 100%;
  background: #0212C7;
  padding: 1rem 2rem;

  p {
    color: #fff;
    margin: 0 auto;
  }
}

h1 {
  font-family: $merriweather;
  font-size: 1.5rem;

  .onlyText & {
    text-align: center;
  }
}

h2,
h4,
p {
  font-family: $proximaNova;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

h4 {
  font-family: $merriweather;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0rem;
  color: $grey;
}

.small {
  font-size: .8rem;
}

.status {
  display: block;
}

.beerMeta {
  font-family: $proximaNova;
  font-size: 1.5rem;
  padding-top: .7rem;
  border-left: 1px solid #000;

  &:first-child {
    border-left: 0;
  }

  &::first-line {
    font-family: $merriweather;
    font-size: 1rem;
    color: $grey;
    line-height: 1;
  }
}

.ooo {
  opacity: .3;
}

.bold {
  font-weight: 700;
}

.white {
  color: #fff;
}

.blueBG {
  background: #0212C7;
}

button {
  background: none;
  display: block;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 2rem auto;
  cursor: pointer;

  a {
    display: block;
  }
}

.clearfix {
  clear: both !important;
}
