---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "reset";
@import "variables";
@import "grid";

section {
  padding-left: $navWidth;

  @include breakpoint(baby-bear) {
    padding-left: 0;
  }
}

.floor {
  margin: 0;
  min-height: $floorHeight;
  width: 100%;
  background-size: auto $floorHeight;
  background-repeat: no-repeat;
  background-position: center top;

  @include breakpoint(baby-bear) {
    background-size: cover;
    padding: 2rem 0;
  }

  &.secondFloor {
    background-image: url('../img/2fl_flat.png')
  }

  &.firstFloor {
    background-image: url('../img/1fl_flat.png')
  }

  &.lowerLevel {
    background-image: url('../img/0fl_flat.png')
  }
}

nav {
  width: $navWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;

  @include breakpoint(baby-bear) {
    height: 3.5rem;
    width: 100%;
    flex-direction: row;

  }

  a {
    display: block;
    margin: 0 auto;
    font-family: $sansSerif;
    transition: .2s all ease;
    padding-bottom: .6rem;
    position: relative;

    &:active,
    &:visited,
    &:link {
      text-decoration: none;
      color: $grey;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background: $blue;
      transition: .4s width;
    }
  }

  // doubled for specificity
  .nav-active.nav-active {
    color: $blue;
    transition: .2s all ease;

    &::after {
      width: 100%;
    }
  }

  em {
    font-weight: 700;
    font-size: 1.2rem;
  }
}


.onlyText {
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 30rem;
}

// this is the container for each beer info module

.infoWrap {
  width: 80%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(baby-bear) {
    width: 85%;
    flex-direction: column;
  }
}

// this is the individual beer module

.beer {
  width: 23rem;
  margin: 0 2rem;
  overflow: hidden;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 3px 4px 7px rgba(0,0,0,.3);
  text-rendering: optimizeLegibility;

  @include breakpoint(baby-bear) {
    width: 100%;
    margin: 0 auto 2rem;
  }
}

.beerSpecs {
  padding: 1rem 2rem;
  background: rgba(255,255,255,.8);
  min-height: 18rem;
}

.thumb {
  margin: 1rem auto;
  width: 6rem;
  display: block;

  // if a beer is Out of Order this class is applied to the thumb div
  &.ooo {
    height: 6rem;
    background: url('../img/ooo.png');
    background-size: contain;
  }
}

.status {
  width: 100%;
  background: $blue;
  padding: 1rem 2rem;

  p {
    color: #fff;
    margin: 0 auto;
  }
}

h1 {
  font-family: $merriweather;
  font-size: 1.5rem;

  .onlyText & {
    text-align: center;
  }
}

h2,
h4,
p {
  font-family: $sansSerif;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

h4 {
  font-family: $merriweather;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0rem;
  color: $grey;
}

.small {
  font-size: .8rem;

  .status & {
    margin-top: .3rem;
  }
}

.status {
  display: block;
}

// doubled-up for specificity
.label.label {
  font-family: $merriweather;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $grey;
  margin-bottom: .3rem;
}

.beerMeta {
  font-family: $sansSerif;
  font-size: 1.4rem;
  padding-top: .7rem;
  // border-left: 1px solid #000;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 1.4rem;
    background: #000;
  }

  // first element doesn't have a left border
  &:first-child {
    &::after {
      width: 0;
    }
  }

  &.col-1-4,
  &.col-1-2 {
    padding-right: 0;
  }

  p {
    margin: 0;
    text-align: center;
  }
}

.star-rating {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  height: $starSize;
  width: calc(#{$starSize} * 5);
  margin: 0 auto .4rem;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  font-size: $starSize;

  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    width: 100%;
  }
}

.ooo {
  opacity: .3;
}

.bold,
strong {
  font-weight: 700;
}

.white {
  color: #fff;
}

.blueBG {
  background: $blue;
}

.button {
  display: block;
  text-align: center;
  font-family: $merriweather;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 20rem;
}

.clearfix {
  clear: both !important;
}
