---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "reset";
@import "variables";
@import "grid";


.floor {
  margin: 0;
  min-height: $floorHeight;
  width: 100%;
  background-size: auto $floorHeight;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint(baby-bear) {
    background-size: cover;
  }

  &.secondFloor {
    background-image: url('../img/2fl_flat.png')
  }

  &.firstFloor {
    background-image: url('../img/1fl_flat.png')
  }

  &.lowerLevel {
    background-image: url('../img/0fl_flat.png')
  }
}

.onlyText {
  padding-top: 35vh;
  min-height: 30rem;
  min-height: 80vh;

  @include breakpoint(baby-bear) {
    padding-top: 10rem;
  }
}

// this is the container for each beer info module

.infoWrap {
  width: 80%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(baby-bear) {
    width: 85%;
    margin-top: 3rem;
    flex-direction: column;
  }
}

// this is the individual beer module

.beer {
  width: 23rem;
  margin: 0 2rem;
  overflow: hidden;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 3px 4px 7px rgba(0,0,0,.3);

  @include breakpoint(baby-bear) {
    width: 100%;
    margin: 0 auto 2rem;
  }
}

.beerSpecs {
  padding: 1rem 2rem;
  background: rgba(255,255,255,.8);
  min-height: 18rem;
}

.thumb {
  margin: 1rem auto;
  width: 6rem;
  display: block;

  // if a beer is Out of Order this class is applied to the thumb div
  &.ooo {
    height: 6rem;
    background: url('../img/ooo.png');
    background-size: contain;
  }
}

.status {
  width: 100%;
  background: $blue;
  padding: 1rem 2rem;

  p {
    color: #fff;
    margin: 0 auto;
  }
}

h1 {
  font-family: $merriweather;
  font-size: 1.5rem;

  .onlyText & {
    text-align: center;
  }
}

h2,
h4,
p {
  font-family: $proximaNova;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

h4 {
  font-family: $merriweather;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0rem;
  color: $grey;
}

.small {
  font-size: .8rem;
}

.status {
  display: block;
}

.label {
  font-family: $merriweather;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $grey;
  line-height: 1.2;
}

.beerMeta {
  font-family: $proximaNova;
  font-size: 1.5rem;
  padding-top: .7rem;
  border-left: 1px solid #000;

  &:first-child {
    border-left: 0;
  }

  p {
    margin: 0;
  }
}

.ooo {
  opacity: .3;
}

.bold {
  font-weight: 700;
}

.white {
  color: #fff;
}

.blueBG {
  background: $blue;
}

.button {
  display: block;
  text-align: center;
  font-family: $merriweather;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 2rem auto;
  width: 20rem;
}

.clearfix {
  clear: both !important;
}
