---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    height: 100vh;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.parallax__layer--back {
  transform: translateZ(-2px) scale(3);
}
.parallax__layer--mid {
  transform: translateZ(-1px) scale(2);
}

.onlyText {
  padding-top: 10rem;
  padding-top: 35vh;
  min-height: 30rem;
  min-height: 80vh;
}

.bgImage {

}

.infoWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  float: left;
  clear: both;
  width: 80%;
  padding: 0;
  margin: 0 auto 5rem;

}

.beer {
  width: 45%;
  margin: 0 2.5%;
  float: left;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 3px 4px 7px rgba(0,0,0,.3);
}

.beerSpecs {
  padding: 1rem 2rem;
  background: rgba(255,255,255,.8);
}

.thumb {
  margin: 1rem auto;
  display: block;
}

.status {
  width: 100%;
  background: #0212C7;
  padding: 1rem 2rem;

  p {
    color: #fff;
    margin: 0 auto;
  }
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;

  .onlyText & {
    text-align: center;
  }
}

h2,
h4,
p {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 .4rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

.status {
  display: block;
}

.ooo {
  opacity: .3;
}

.bold {
  font-weight: 700;
}

.white {
  color: #fff;
}

.blueBG {
  background: #0212C7;
}

button {
  background: none;
  display: block;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 2rem auto;
  cursor: pointer;

  a {
    display: block;
  }
}
