<div class="beerSpecs">
  <div class="beerThumb">
    <img src="#" class="thumb" alt="" />
  </div>
  <h4 class="beerBrewery">&nbsp;</h4>
  <h2 class="beerName">&nbsp;</h2>
  <div class="grid">
    <div class="col-1-4 beerMeta">
      <p class="label">ABV</p><p class="beerABV">&nbsp;</p>
    </div>
    <div class="col-1-4 beerMeta">
      <p class="label">IBU</p><p class="beerIBU">&nbsp;</p>
    </div>
    <div class="col-1-2 beerMeta">
      <p class="label">Rating:</p>
      <div class="star-rating">
        <div class="star-rating-top" style="width:0%">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
        <div class="star-rating-bottom">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
      </div>
    <p class="small beerRating">&nbsp;</p>
    </div>
  </div>
</div>
<div class="status">
  <p>Status: <strong>beerStatus</strong></p>
  <p class="small">Last Updated: beerLastUpdated</p>
</div>
