<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/favicon.ico">
<meta name="theme-color" content="#323dba">
