// media-queries

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}

// type

$sansSerif : "Helvetica Neue", helvetica, arial, sans-serif;
$merriweather : 'Merriweather', serif;

// variables

$floorHeight: 100vh;
$starSize: 1.5rem;

// colors

$grey: #999;
$blue: #0212C7;
