// media-queries

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}

// type

$sansSerif : "Helvetica Neue", helvetica, arial, sans-serif;
$merriweather : 'Merriweather', serif;

// variables

$floorHeight: 100vh;
$starSize: 1.5rem;
$navWidth: 5rem;
$introHeight: 15rem;
$conclusionHeight: 20rem;

// colors

$lightGrey: #f1f1f1;
$grey: #999;
$blue: #323dba;
